.cssonly-slider {
  --width: 500px;
  --height: 300px;
  position: relative;
  width: var(--width);
  height: var(--height);
  margin: auto;

  input[type=radio] {
    display: none;
  }

  .slides-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .slides {
    display: inline-flex;
    flex-wrap: nowrap;
    min-width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    // animation: cssonlySlider 8s linear infinite;
    // animation-timing-function: steps(4, jump-none);
    // animation-play-state: paused;
  }

  .slide {
    width: var(--width);
    user-select: none;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 1s ease;
      overflow: hidden;
    }
  }

  .prev-arrows,
  .next-arrows {
    label {
      &::before {
        color: #aaa;
        font-size: 30px;
        position: absolute;
        top: 50%;
        margin-top: -10px;
        height: 20px;
        width: 20px;
        text-align: center;
        line-height: 15px;
        z-index: 1;
        cursor: pointer;
      }

      &:hover::before {
        color: #888;
      }
    }
  }

  .prev-arrows label::before {
    content: "❮";
    left: -30px;
  }

  .next-arrows label {
    &::before {
      content: "❯";
      right: -30px;
    }

    &:first-of-type {
      &::before {
        z-index: 2;
      }
    }
  }

  input:checked {
    ~ .slides-wrapper .slides {
      transform: translateX(calc(var(--width) * (1 - var(--selected-slide))));
    }
  }

  @for $i from 1 through 20 {
    input:nth-of-type(#{$i}) {
      ~ * {
        --slides-number: #{$i};
      }

      &:checked {
        ~ .slides-wrapper {
          --selected-slide: #{$i};
        }

        ~ .prev-arrows {
          label:nth-of-type(#{$i - 1})::before {
            z-index: 2;
          }
        }

        ~ .next-arrows {
          label:nth-of-type(#{$i + 1})::before {
            z-index: 2;
          }
        }

        ~ .tracks label:nth-of-type(#{$i}) {
          &::after {
            transform: translate(-50%, -50%) scale(1, 1);
            opacity: 1;
          }
        }
      }
    }
  }

  .tracks {
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    opacity: 0.9;

    label {
      position: relative;
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid #fff;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.3);
      margin-right: 6px;
      cursor: pointer;
      transition: opacity 0.2s;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        opacity: 0.8;
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0, 0);
        width: 75%;
        height: 75%;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0;
        transition: transform 0.3s;
      }
      // width: 8px;
      // height: 8px;
      // border: solid 1px #fff;
      // border-radius: 50%;
      // margin: 0 2px;
      // cursor: pointer;
      // box-shadow: 0 0 1px #aaa;
    }
  }
}

@keyframes cssonlySlider {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(calc(var(--width) * -1));
  }

  50% {
    transform: translateX(calc(var(--width) * -2));
  }

  75% {
    transform: translateX(calc(var(--width) * -3));
  }
}
