.cssonly-dropdown {
  display: inline-block;
  position: relative;

  &:not([open]) > *:not(summary) {
    display: none !important;
  }

  summary {
    display: inline-block;
    white-space: nowrap;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }
  }

  .cssonly-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);

    &.dropdown-menu-right {
      right: 0;
      left: auto;
    }

    &.dropdown-menu-left {
      right: auto;
      left: 0;
    }

    > li > a {
      display: block;
      text-decoration: none;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;

      &:focus,
      &:hover {
        color: #262626;
        text-decoration: none;
        background-color: #f5f5f5;
      }
    }

    .divider {
      height: 1px;
      margin: 4px 0;
      overflow: hidden;
      background-color: #e5e5e5;
    }
  }

  &[open] {
    .cssonly-dropdown-menu {
      display: block;
    }

    > summary::before {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 80;
      display: block;
      cursor: default;
      content: " ";
      background: transparent;
    }
  }
}
