.cssonly-image-comparison {
  --height: 400px;
  --width: 600px;
  --initial-overlay-width: 50%;

  display: inline-block;
  position: relative;
  width: var(--width);
  height: var(--height);

  > * {
    max-width: 100%;
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;

    &:first-child {
      max-width: calc(100% - 13px) !important;
      width: var(--initial-overlay-width);
      resize: horizontal;
      z-index: 2;

      &::before {
        content: "";
        position: absolute;
        width: 17px;
        height: 17px;
        background: rgba(255, 255, 255, 0.5);
        bottom: 0;
        right: 0;
        border-radius: 4px;
        z-index: 1;
      }
    }

    > img {
      width: var(--width);
      height: var(--height);
      max-width: unset !important;
      object-fit: cover;
      -webkit-user-drag: none;
    }
  }
}
