.cssonly-tabs {
  // --tabs-fixed-width: 70px; // optional
  --line-color: #4f46e5;
  --transition-time: 0.2s;

  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: wrap;

  * {
    box-sizing: border-box;
  }

  label {
    flex-grow: var(--tabs-fixed-width, 1);
    flex-basis: var(--tabs-fixed-width, 0);
    width: var(--tabs-fixed-width, auto);
    order: 1;
    white-space: nowrap;
    overflow: hidden;
    font-size: 19px;
    padding: 0 1px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    color: #999;
    transition: color var(--transition-time);

    &:first-of-type::after {
      content: "";
      position: absolute;
      height: 1px;
      left: 0;
      right: 0;
      top: 32px;
      z-index: 1;
      background: #ccc;
    }

    &:last-of-type::after {
      content: "";
      position: absolute;
      height: 2px;
      left: 0;
      top: 31px;
      z-index: 2;
      background: var(--line-color);
      width: var(--tabs-fixed-width, calc(100% / var(--tabs-number)));
      transition: left var(--transition-time);
    }
  }

  .tab-content {
    padding: 10px;
    display: none;
    order: 99;
    width: 100%;
  }

  input[type='radio'] {
    display: none;

    &:checked + label {
      color: #333;

      + .tab-content {
        display: block;
      }
    }

    &[disabled] + label {
      background: #fafafa;
      cursor: default;
    }

    @for $i from 1 through 20 {
      &:nth-of-type(#{$i}) {
        ~ label {
          --tabs-number: #{$i};
        }

        &:checked {
          ~ label:last-of-type::after {
            left: calc(var(--tabs-fixed-width, 100% / var(--tabs-number)) * #{$i - 1});
          }
        }
      }
    }
  }
}
