:root {
  --icon-size: 36px;
  --filled-icon: "★";
  --non-filled-icon: "☆";
  --filled-color: #ffb400;
  --non-filled-color: rgba(0, 0, 0, 0.26);
}

.cssonly-rating {
  display: inline-flex;
  position: relative;
  font-size: var(--icon-size);
  flex-direction: row-reverse;
  justify-content: center;

  input[type="radio"] {
    display: none;

    + label {
      transform: scale(1);
      transform-origin: center center;
      transition: transform 0.15s;
      margin: 0 1%;

      &::before {
        content: var(--non-filled-icon);
        color: var(--non-filled-color);
        font-size: inherit;
        display: inline-block;
        cursor: pointer;
        transition: color 0.15s;
      }

      &:hover {
        transform: scale(1.2);

        &::before,
        ~ label::before {
          content: var(--filled-icon);
          color: var(--filled-color);
        }
      }
    }
  }

  &:not(:hover) input[type="radio"]:checked ~ label::before {
    content: var(--filled-icon);
    color: var(--filled-color);
  }
}
